h1, h2, h3 {
    color: #1F3A5C;
  }
  
  .page__title {
    color: #1F3A5C;
  }

  .responsive-figure {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    outline: 2px solid red;
    object-fit: contain;
  }

  .page__content img {
    max-width: 100%;
    height: auto;
  }
  
  
  .figure-wrapper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  
  .figure-wrapper img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  
    /* Safari-specific bug fix */
    image-rendering: auto;
  }
  
  .page__content .paper-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 1.5rem auto 2rem auto;
  }
  
  .page__content .paper-buttons a {
    display: inline-block;
    width: auto;
  }
  
  .paper-button img {
    display: block;
    height: 200px;
    width: auto;
  }
  